.App {
  text-align: center;
}

.block_title {
  line-height: 3.5rem;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: left;
  color: rgba(0, 50, 0, 0.5);
  margin: 0;
  padding: 0;
}

.ProjectName {
  width: 100%;
  line-height: 5rem;
  font-size: 5rem;
  font-weight: 100;
  text-align: Center;
  color: rgba(255,255,255, 1);
  margin: 1rem;
  padding: 0;
}

.ProjectIntro {
  width: 60%;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: Center;
  color: rgba(255,255,255, 1);
  margin: 1rem;
  padding: 0;
}

.intro {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: left;
  color: rgba(50, 50, 50, 0.8);
  margin: 0.25rem;
  padding: 0;
}

.intro_2 {
  line-height: 2.2rem;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: left;
  color: rgba(50, 50, 50, 0.8);
  margin: 1rem 0.25rem 0.25rem 0.25rem;
  padding: 0;
}

.intro_3 {
  line-height: 2.2rem;
  font-size: 2rem;
  font-weight: 350;
  text-align: left;
  color: rgba(50, 100, 50, 0.8);
  margin: 0.25rem;
  padding: 0;
}

.intro_4 {
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: left;
  color: rgba(50, 50, 50, 0.8);
  margin: 0;
  padding: 0;
}

.amp {
  line-height: 6rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  color: rgba(50, 50, 50, 0.8);
  margin: 1rem 0.25rem 1rem 0.25rem;
  padding: 0;
}

.App-link {
  color: #61b0fb;
  font-size: 1rem;
}

.YT-link {
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: Center;
  color: rgba(255,255,255, 1);
  margin: 0;
  padding: 0;
}