.App {
  text-align: center;
}

.block_title {
  line-height: 3.5rem;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: left;
  color: rgba(0, 50, 0, 0.5);
  margin: 0;
  padding: 0;
}

.intro {
  line-height: 2rem;
  font-size: 1.6rem;
  font-weight: 100;
  text-align: left;
  color: rgba(0, 50, 0, 0.5);
  margin: 0.25rem;
  padding: 0;
}